<div class="feeds_confirm">
  <h1>confirm this feed？</h1>
  <section>
    <%= form_with(model: @feed, local: true) do |form| %>
      <%= form.hidden_field :content %>
      <%= form.hidden_field :image_cache %>
      <p><%= @feed.content %></p>
      <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
      <%= form.submit "register" %>
      <%= form.submit "return", name: 'back' %>
    <% end %>
  </section>
</div>
