<% @feeds.each do |feed| %>
<section>
  <%= link_to user_path(feed.user.id) do %>
    <%= feed.user.name %>
  <% end %>
  <p class="created_at"><%= feed.created_at.strftime('%Y年%-m月%-d日 %-H:%-M') %></p>
  <p><%= feed.content %></p>
  <div >
    <%= image_tag(feed.image.url) if feed.image && feed.image.url %>
  </div>
  <%= link_to '詳細', feed_path(feed.id) %>
</section>
<% end %>
