<section>
  <%= link_to user_path(@feed.user.id) do %>
    <%= @feed.user.name %>
  <% end %>
  <p><%= @feed.content %></p>
  <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
  <% if @feed.user_id == current_user.id %>
    <%= link_to 'edit', edit_feed_path(@feed.id) %>
    <%= link_to 'delete', feed_path(@feed.id), method: :delete, data: {confirm: '削除しますか？'} %>
  <% end %>
</section>
