<h1>confirmation screen</h1>
<%= form_with(model: @feed, local: true) do |form| %>
  <div class="user">
  </div>
  <div class="image">
    <p>image</p>
  <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
  </div>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "submit" %>
<% end %>
<%= form_with(model:@feed, local:true, method:'get') do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "back", name: "back" %>
<% end %>
