<p id="notice"><%= notice %></p>
<%= link_to 'new feed', new_feed_path %>

<h1>Feed</h1>

<table>
  <thead>
    <tr>
      <th class="title"</th>
      <th class="content"></th>
      <th class= "list">Picture</th>
      <th class="user">user</th>
      <th class= "created_at"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td class= "title"><%= feed.title %></td>
        <td class= "content"><%= feed.content %></td>
        <td><%= image_tag feed.image.url %></td>
        <td><%= @feed %></td>
        <td class= "created_at"><%= l(feed.created_at, format: :short)%></td>
        <td class= "button"><%= link_to 'show', feed %></td>
        <td class= "button"><%= link_to 'edit', edit_feed_path(feed) %></td>
        <td class= "button"><%= link_to 'delete', feed, method: :delete, data: { confirm: 'are you sure you wanna delete？' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
<div class="link">

</div>
